* {
    /*Center Alignment welcome-background*/
    margin: 0;
    padding: 0;
}

body, html {
    /*Center Alignment welcome-background*/
    height: 100%;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.background {
    /*Center Alignment welcome-background*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #EDEEF0;
}

.welcome-background {
    box-sizing:border-box;
    position: relative;
    width: 450px;
    height: 210px;
    border: 2px solid #E3E4E8;
    border-radius: 2px;
    background-color: white;
}

.welcome-header {
    width: 446px;
    height: 35px;
    padding-top: 7px;

    background-color: #507299;
    text-align: center;
    color: #FFFFFF;
}

.authorization-button {
    width: 150px;
    height: 29.5px;

    position: absolute;
    left: 150px;
    top: 150px;
    padding-top: 12.5px;

    display: block;
    text-decoration: none;
    background-color: #507299;
    text-align: center;

    border-radius: 2px;
}

.authorization-button a, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

/*.friendsList {
    padding: 10px;
}*/

.friend {
    padding: 5px;
}

.error {
    position: absolute;
    top: 100px;
    text-align: center;
}
